USE [aloprueb_test]
GO
/****** Object:  User [aloprueb_test]    Script Date: 16/09/2018 11:59:00 p.m. ******/
CREATE USER [aloprueb_test] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [aloprueb_test]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [aloprueb_test]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [aloprueb_test]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [aloprueb_test]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [aloprueb_test]
GO
ALTER ROLE [db_datareader] ADD MEMBER [aloprueb_test]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [aloprueb_test]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [aloprueb_test]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [aloprueb_test]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[blog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Titulo] [varchar](max) NULL,
	[Subtitulo] [varchar](max) NULL,
	[Fuente] [varchar](max) NULL,
	[Descripcion] [text] NULL,
	[Etiquetas] [varchar](max) NULL,
	[Url] [varchar](max) NULL,
	[Tipo] [varchar](100) NULL,
	[Imagen] [varchar](500) NULL,
	[Autor] [varchar](max) NULL,
	[Especies] [varchar](max) NULL,
	[Orden] [int] NULL,
	[Formato] [int] NULL,
 CONSTRAINT [PK_blog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[camion]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[camion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[minimo] [decimal](18, 0) NOT NULL,
	[maximo] [decimal](18, 0) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_camiones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[correo]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[correo](
	[Id] [int] NOT NULL,
	[IdPlanta] [int] NOT NULL,
	[IdPuesto] [smallint] NOT NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Tipo] [smallint] NOT NULL,
 CONSTRAINT [PK_correo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cotizacion]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cotizacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdCamion] [int] NOT NULL,
	[DiaSemana] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL CONSTRAINT [DF_cotizacion_Fecha]  DEFAULT (getdate()),
	[Enviado] [bit] NULL,
	[Nombre] [varchar](200) NULL,
	[Email] [varchar](100) NULL,
	[Telefono] [varchar](50) NULL,
	[Celular] [varchar](50) NULL,
	[Observaciones] [varchar](1000) NULL,
 CONSTRAINT [PK_cotizacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cotizacionDetalle]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cotizacionDetalle](
	[IdCotizacion] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdMedida] [int] NOT NULL,
	[Cantidad] [decimal](18, 0) NOT NULL,
	[Unitario] [money] NOT NULL,
	[Precio] [money] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[detalles_producto]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[detalles_producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_producto] [int] NULL,
	[Tipo] [varchar](100) NULL,
	[Descripcion] [varchar](max) NULL,
	[Imagen] [varchar](300) NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_detalles_producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[detalles_salud]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[detalles_salud](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_salud] [int] NULL,
	[Tipo] [varchar](100) NULL,
	[Descripcion] [varchar](max) NULL,
	[Imagen] [varchar](300) NULL,
 CONSTRAINT [PK_detalles_salud] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[distribuidores]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[distribuidores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[No_cte] [varchar](100) NULL,
	[Planta] [varchar](300) NULL,
	[Nombre_fact] [varchar](max) NULL,
	[Nombre_com] [varchar](max) NULL,
	[Direccion] [varchar](max) NULL,
	[Barrio] [varchar](max) NULL,
	[C_P] [varchar](max) NULL,
	[Ciudad] [varchar](max) NULL,
	[Estado] [varchar](max) NULL,
	[Telefono] [varchar](max) NULL,
	[Celular] [varchar](max) NULL,
	[Mail] [varchar](max) NULL,
	[Categoria] [varchar](max) NULL,
	[Horario] [varchar](max) NULL,
	[Latitud] [varchar](max) NULL,
	[Longitud] [varchar](max) NULL,
	[Mapa] [varchar](max) NULL,
 CONSTRAINT [PK_distribuidores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[especies]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[especies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](500) NULL,
	[Tipo] [varchar](300) NULL,
	[Imagen] [varchar](300) NULL,
	[Background] [varchar](300) NULL,
	[Icono] [varchar](300) NULL,
	[Orden] [int] NOT NULL,
	[OrdenTipo] [int] NOT NULL,
	[Plan] [varchar](300) NULL,
 CONSTRAINT [PK_especies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[lineas]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[lineas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_marca] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](max) NULL,
	[Target] [varchar](100) NULL DEFAULT ('MVZ|PROD|DIST'),
	[Orden] [int] NULL,
 CONSTRAINT [PK_lineas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[marcas]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_especie] [int] NULL,
	[Nombre] [varchar](200) NULL,
	[Descripcion] [varchar](1000) NULL,
	[Imagen] [varchar](300) NULL,
	[Background] [varchar](300) NULL,
	[Target] [varchar](100) NULL DEFAULT ('MVZ|PROD|DIST'),
	[Orden] [int] NULL,
 CONSTRAINT [PK_marcas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[medidas]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[medidas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Kilos] [float] NOT NULL,
 CONSTRAINT [PK_medidas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[planta]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[planta](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[RazonSocial] [varchar](100) NULL,
	[Direccion] [varchar](1000) NULL,
	[Telefono] [varchar](50) NULL,
	[Celular] [varchar](50) NULL,
	[Observaciones] [varchar](100) NULL,
 CONSTRAINT [PK_planta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[plantilla]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plantilla](
	[Id] [int] NOT NULL,
	[IdPlanta] [int] NOT NULL,
	[Contenido] [text] NOT NULL,
	[Tipo] [smallint] NOT NULL,
 CONSTRAINT [PK_plantilla] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[precios]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[precios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdPlanta] [int] NOT NULL,
	[IdMedida] [int] NOT NULL,
	[Minimo] [int] NULL,
	[Precio] [money] NOT NULL,
	[IdPadre] [int] NULL,
	[ValorPromocion] [int] NULL,
	[RecompensaPromocion] [int] NULL,
	[TienePromocion] [bit] NOT NULL CONSTRAINT [DF_precios_TienePromocion]  DEFAULT ((0)),
	[FechaDeInsercion] [datetime] NOT NULL CONSTRAINT [DF_precios_FechaDeInsercion]  DEFAULT (getdate()),
	[Activo] [bit] NOT NULL CONSTRAINT [DF_precios_Activo]  DEFAULT ((1)),
 CONSTRAINT [PK_precios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[productos]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_linea] [int] NULL,
	[Nombre] [varchar](300) NULL,
	[Descripcion] [varchar](max) NULL,
	[Imagen] [varchar](300) NULL,
	[Brochure] [varchar](300) NULL,
	[Vademecum] [varchar](300) NULL,
	[Video] [varchar](300) NULL,
	[Params_dist] [varchar](300) NULL,
	[Proteina] [nchar](10) NULL,
	[Grasa] [nchar](10) NULL,
	[Humedad] [nchar](10) NULL,
	[Fibra] [nchar](10) NULL,
	[Ceniza] [nchar](10) NULL,
	[Eln] [nchar](10) NULL,
	[Orden] [int] NULL,
	[Keyword] [varchar](500) NULL,
	[Target] [varchar](100) NULL DEFAULT ('MVZ|PROD|DIST'),
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[puesto]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[puesto](
	[Id] [smallint] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_puesto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[salud]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[salud](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](300) NULL,
	[Descripcion] [varchar](max) NULL,
	[Imagen] [varchar](300) NULL,
	[Tipo] [varchar](300) NULL,
	[Indicaciones] [varchar](max) NULL,
	[Contraindicaciones] [varchar](max) NULL,
	[Administracion] [varchar](max) NULL,
	[Interaccion] [varchar](max) NULL,
	[Reacciones] [varchar](max) NULL,
	[Uso] [varchar](max) NULL,
	[Brochure] [varchar](300) NULL,
	[Vademecum] [varchar](300) NULL,
	[Video] [varchar](300) NULL,
	[Params_dist] [varchar](300) NULL,
 CONSTRAINT [PK_salud] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[Id] [int] NOT NULL,
	[IdDIstribuidor] [int] NOT NULL,
	[IdPlanta] [int] NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contrasenia] [varchar](100) NOT NULL,
	[Descuento] [float] NOT NULL,
	[PrimeraContrasenia] [bit] NOT NULL CONSTRAINT [DF_usuario_PrimeraContrasenia]  DEFAULT ((1)),
	[FechaCambioContrasenia] [datetime] NULL,
	[Guid] [varchar](50) NULL,
	[FechaGuid] [datetime] NULL,
 CONSTRAINT [PK_usuario_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[visitas]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[visitas](
	[ip] [varchar](15) NOT NULL,
	[pais] [varchar](50) NULL,
	[estado] [varchar](50) NULL,
	[latitude] [varchar](50) NULL,
	[longitude] [varchar](50) NULL,
	[date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[blog] ON 

SET IDENTITY_INSERT [dbo].[blog] OFF
SET IDENTITY_INSERT [dbo].[camion] ON 

INSERT [dbo].[camion] ([id], [nombre], [minimo], [maximo], [activo]) VALUES (1, N'Camioneta', CAST(1 AS Decimal(18, 0)), CAST(3 AS Decimal(18, 0)), 1)
INSERT [dbo].[camion] ([id], [nombre], [minimo], [maximo], [activo]) VALUES (2, N'Camionetas tres y media', CAST(3 AS Decimal(18, 0)), CAST(4 AS Decimal(18, 0)), 1)
INSERT [dbo].[camion] ([id], [nombre], [minimo], [maximo], [activo]) VALUES (3, N'Camionetas cinco', CAST(5 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[camion] OFF
INSERT [dbo].[correo] ([Id], [IdPlanta], [IdPuesto], [NombreCompleto], [Correo], [Tipo]) VALUES (1, 1, 1, N'Lizzete Aviles', N'la@aloalo.mx', 1)
INSERT [dbo].[correo] ([Id], [IdPlanta], [IdPuesto], [NombreCompleto], [Correo], [Tipo]) VALUES (2, 1, 1, N'Eduardo Gutierrez', N'eg@aloalo.mx', 1)
INSERT [dbo].[correo] ([Id], [IdPlanta], [IdPuesto], [NombreCompleto], [Correo], [Tipo]) VALUES (3, 1, 1, N'Ernesto Orozco', N'eo@aloalo.mx', 2)
SET IDENTITY_INSERT [dbo].[cotizacion] ON 

INSERT [dbo].[cotizacion] ([Id], [IdUsuario], [IdCamion], [DiaSemana], [Fecha], [Enviado], [Nombre], [Email], [Telefono], [Celular], [Observaciones]) VALUES (7, 2, 1, 1, CAST(N'2017-12-10 12:16:03.333' AS DateTime), 1, N'La Comercial', N'diego.ao.carreto@gmail.com', N'01 (953) 534 01 54', N'(044) 2224 25 68 04', NULL)
SET IDENTITY_INSERT [dbo].[cotizacion] OFF
INSERT [dbo].[cotizacionDetalle] ([IdCotizacion], [IdProducto], [IdMedida], [Cantidad], [Unitario], [Precio]) VALUES (7, 4, 1, CAST(2 AS Decimal(18, 0)), 0.0000, 0.0000)
INSERT [dbo].[cotizacionDetalle] ([IdCotizacion], [IdProducto], [IdMedida], [Cantidad], [Unitario], [Precio]) VALUES (7, 2, 1, CAST(1 AS Decimal(18, 0)), 1000.0000, 1000.0000)
INSERT [dbo].[cotizacionDetalle] ([IdCotizacion], [IdProducto], [IdMedida], [Cantidad], [Unitario], [Precio]) VALUES (7, 3, 1, CAST(3 AS Decimal(18, 0)), 950.0000, 2850.0000)
SET IDENTITY_INSERT [dbo].[detalles_producto] ON 

INSERT [dbo].[detalles_producto] ([Id], [Id_producto], [Tipo], [Descripcion], [Imagen], [Orden]) VALUES (1, 1, N'beneficio', N'Diseñado para Complementar perfectamente la demanda de proteina necesaria para el buen crecimiento del bovino. ', N'', NULL)
INSERT [dbo].[detalles_producto] ([Id], [Id_producto], [Tipo], [Descripcion], [Imagen], [Orden]) VALUES (2, 1, N'beneficio', N'Contiene fibra de alta calidad para mejorar la digestibilidad de la dieta.', N'', NULL)
INSERT [dbo].[detalles_producto] ([Id], [Id_producto], [Tipo], [Descripcion], [Imagen], [Orden]) VALUES (3, 1, N'presentacion', N'40 kg', N'', NULL)
GO
SET IDENTITY_INSERT [dbo].[detalles_producto] OFF
SET IDENTITY_INSERT [dbo].[detalles_salud] ON 

INSERT [dbo].[detalles_salud] ([Id], [Id_salud], [Tipo], [Descripcion], [Imagen]) VALUES (1, 1, N'especie', N'aves', N'Content/img/e-aves-postura.svg')
INSERT [dbo].[detalles_salud] ([Id], [Id_salud], [Tipo], [Descripcion], [Imagen]) VALUES (2, 1, N'especie', N'porcinos', N'Content/img/e-cerdos.svg')
INSERT [dbo].[detalles_salud] ([Id], [Id_salud], [Tipo], [Descripcion], [Imagen]) VALUES (3, 1, N'especie', N'conejos', N'Content/img/e-conejos.svg')
GO
SET IDENTITY_INSERT [dbo].[detalles_salud] OFF
SET IDENTITY_INSERT [dbo].[distribuidores] ON 

GO
SET IDENTITY_INSERT [dbo].[distribuidores] OFF
SET IDENTITY_INSERT [dbo].[especies] ON 

INSERT [dbo].[especies] ([Id], [Nombre], [Descripcion], [Tipo], [Imagen], [Background], [Icono], [Orden], [OrdenTipo], [Plan]) VALUES (1, N'Ganado de Carne
', N'Garantizar el  óptimo desempeño en el sector pecuario  va más allá del alimento adecuado, por lo que desarrollamos Programas Nutricionales Diferenciados®.', N'rumiantes', N'Content/img/header-ganado-carne.png', N'Content/img/bg-ganado-carne.jpg', N'Content/img/e-ganado-carne.svg', 1, 2, N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf')
INSERT [dbo].[especies] ([Id], [Nombre], [Descripcion], [Tipo], [Imagen], [Background], [Icono], [Orden], [OrdenTipo], [Plan]) VALUES (2, N'Ganado Lechero', N'Garantizar el  óptimo desempeño en el sector pecuario  va más allá del alimento adecuado, por lo que desarrollamos Programas Nutricionales Diferenciados®.', N'rumiantes', N'Content/img/header-ganado-lechero.png', N'Content/img/bg-ganado-lechero.jpg', N'Content/img/e-ganado-lechero.svg', 2, 2, N'Content/brochure/MANUAL_GLECHE_180614.pdf')
INSERT [dbo].[especies] ([Id], [Nombre], [Descripcion], [Tipo], [Imagen], [Background], [Icono], [Orden], [OrdenTipo], [Plan]) VALUES (3, N'Borregos', N'Garantizar el  óptimo desempeño en el sector pecuario  va más allá del alimento adecuado, por lo que desarrollamos Programas Nutricionales Diferenciados®.', N'rumiantes', N'Content/img/header-borregos.png', N'Content/img/bg-borregos.jpg', N'Content/img/e-borregos.svg', 3, 2, N'')
SET IDENTITY_INSERT [dbo].[especies] OFF
SET IDENTITY_INSERT [dbo].[lineas] ON 

INSERT [dbo].[lineas] ([Id], [Id_marca], [Nombre], [Descripcion], [Target], [Orden]) VALUES (1, 1, N'Ganador®', N'Alimento para perros óptimamente balanceado con ingredientes de calidad que te ofrece la mejor alternativa en nutrición y sabor.', N'MVZ|PROD|DIST', 1)
INSERT [dbo].[lineas] ([Id], [Id_marca], [Nombre], [Descripcion], [Target], [Orden]) VALUES (2, 2, N'Minino®', N'La fórmula de Minino® contiene la combinación exacta de ingredientes que tu minino requiere en todas las etapas de su vida. Elaborada con pollo y pescado para darle un sabor irresistible. No es comida para gatos, es alimento para mininos.', N'MVZ|PROD|DIST', 2)
INSERT [dbo].[lineas] ([Id], [Id_marca], [Nombre], [Descripcion], [Target], [Orden]) VALUES (3, 3, N'Apicarne®', N'Diseñada para cubrir los requerimientos nutricionales del ganado de carne en sus ciclos de engorda para lograr excelentes ganancias de peso.', N'MVZ|PROD|DIST', 1)
SET IDENTITY_INSERT [dbo].[lineas] OFF
SET IDENTITY_INSERT [dbo].[marcas] ON 

INSERT [dbo].[marcas] ([Id], [Id_especie], [Nombre], [Descripcion], [Imagen], [Background], [Target], [Orden]) VALUES (1, 17, N'Ganador®', N'Nuestros expertos de Ganador® han desarrollado un portafolio completo que mejoran la salud y calidad de vida de las nuestros mejores amigos. Las productos Ganador® son sinónimo de calidad.', N'Content/img/perro/ganador-lineas.png', N'Content/img/bg-perros.jpg', N'MVZ|PROD|DIST', 1)
INSERT [dbo].[marcas] ([Id], [Id_especie], [Nombre], [Descripcion], [Imagen], [Background], [Target], [Orden]) VALUES (2, 18, N'Minino®', N'Nutrición completa y balanceada con la combinación de ingredientes requerida en todas las etapas de vida del minino.', N'Content/img/gato/minino-linea.png', N'Content/img/bg-gatos.jpg', N'MVZ|PROD|DIST', 1)
INSERT [dbo].[marcas] ([Id], [Id_especie], [Nombre], [Descripcion], [Imagen], [Background], [Target], [Orden]) VALUES (3, 1, N'Api-Aba Premium®', N'Diseñada para cubrir los requerimientos nutricionales del ganado de carne en sus ciclos de engorda para lograr excelentes ganancias de peso.', N'Content/img/rumiantes/apiaba-apicarne-premium-40.png', N'Content/img/bg-ganado-carne.jpg', N'MVZ|PROD|DIST', 1)
SET IDENTITY_INSERT [dbo].[marcas] OFF
SET IDENTITY_INSERT [dbo].[medidas] ON 

INSERT [dbo].[medidas] ([Id], [Nombre], [Kilos]) VALUES (1, N'Bulto', 50)
INSERT [dbo].[medidas] ([Id], [Nombre], [Kilos]) VALUES (2, N'Bulto', 40)
INSERT [dbo].[medidas] ([Id], [Nombre], [Kilos]) VALUES (3, N'Bulto', 30)
SET IDENTITY_INSERT [dbo].[medidas] OFF
INSERT [dbo].[planta] ([Id], [Nombre], [RazonSocial], [Direccion], [Telefono], [Celular], [Observaciones]) VALUES (1, N'ApiTexc', N'MALTA TEXO DE MEXICO, S.A DE C.V.', N'Carretera Los Reyes-Texcoco Km 16.3, col.San Bernardino, Texcoco, Edo de México', N'01 800 036 25 82', NULL, NULL)
INSERT [dbo].[planta] ([Id], [Nombre], [RazonSocial], [Direccion], [Telefono], [Celular], [Observaciones]) VALUES (2, N'Maltex', N'MALTA TEXO DE MEXICO, S.A DE C.V.', N'Carretera Los Reyes-Texcoco Km 16.3, col.San Bernardino, Texcoco, Edo de México', N'01 800 036 25 82', NULL, NULL)
INSERT [dbo].[planta] ([Id], [Nombre], [RazonSocial], [Direccion], [Telefono], [Celular], [Observaciones]) VALUES (3, N'ApiBaj', N'MALTA TEXO DE MEXICO, S.A DE C.V.', N'Carretera Panamericana Km 282 Villagaran Gto. CP 38000', N'01 800 719 32 37', N'461 100 75 54', NULL)
SET IDENTITY_INSERT [dbo].[precios] ON 

INSERT [dbo].[precios] ([Id], [IdProducto], [IdPlanta], [IdMedida], [Minimo], [Precio], [IdPadre], [ValorPromocion], [RecompensaPromocion], [TienePromocion], [FechaDeInsercion], [Activo]) VALUES (1, 1, 1, 1, 1, 1000.0000, NULL, NULL, NULL, 0, CAST(N'2017-11-05 10:14:51.850' AS DateTime), 1)
INSERT [dbo].[precios] ([Id], [IdProducto], [IdPlanta], [IdMedida], [Minimo], [Precio], [IdPadre], [ValorPromocion], [RecompensaPromocion], [TienePromocion], [FechaDeInsercion], [Activo]) VALUES (2, 1, 1, 2, 1, 900.0000, NULL, NULL, NULL, 0, CAST(N'2017-11-05 10:15:37.663' AS DateTime), 1)
INSERT [dbo].[precios] ([Id], [IdProducto], [IdPlanta], [IdMedida], [Minimo], [Precio], [IdPadre], [ValorPromocion], [RecompensaPromocion], [TienePromocion], [FechaDeInsercion], [Activo]) VALUES (3, 2, 1, 1, 1, 1000.0000, NULL, NULL, NULL, 0, CAST(N'2017-11-05 10:16:16.457' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[precios] OFF
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([Id], [Id_linea], [Nombre], [Descripcion], [Imagen], [Brochure], [Vademecum], [Video], [Params_dist], [Proteina], [Grasa], [Humedad], [Fibra], [Ceniza], [Eln], [Orden], [Keyword], [Target]) VALUES (1, 3, N'Becerro Engorda 16%', N'Alimento para crecimiento y engorda de becerro.', N'Content/img/rumiantes/apiaba-apicarne-premium-40.png', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'', N'', N'16        ', N'2         ', N'12        ', N'14        ', N'18        ', N'38        ', 3, NULL, NULL)
INSERT [dbo].[productos] ([Id], [Id_linea], [Nombre], [Descripcion], [Imagen], [Brochure], [Vademecum], [Video], [Params_dist], [Proteina], [Grasa], [Humedad], [Fibra], [Ceniza], [Eln], [Orden], [Keyword], [Target]) VALUES (2, 3, N'Apiengorda Ganado', N'Alimento para engorda y finalización del ganado.', N'Content/img/rumiantes/apiaba-apicarne-premium-40.png', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'', N'', N'13        ', N'2         ', N'12        ', N'12        ', N'10        ', N'51        ', 4, NULL, NULL)
INSERT [dbo].[productos] ([Id], [Id_linea], [Nombre], [Descripcion], [Imagen], [Brochure], [Vademecum], [Video], [Params_dist], [Proteina], [Grasa], [Humedad], [Fibra], [Ceniza], [Eln], [Orden], [Keyword], [Target]) VALUES (3, 3, N'Apiengorda Ganado con Zilpaterol', N'Alimento para finalizar el ganado en los últimos 30 días.', N'Content/img/rumiantes/apiaba-apicarne-premium-40.png', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'', N'', N'14        ', N'2.5       ', N'12        ', N'10        ', N'8.5       ', N'53        ', 5, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[productos] OFF
INSERT [dbo].[puesto] ([Id], [Nombre]) VALUES (1, N'Ventas')
SET IDENTITY_INSERT [dbo].[salud] ON 

SET IDENTITY_INSERT [dbo].[salud] OFF
INSERT [dbo].[usuario] ([Id], [IdDIstribuidor], [IdPlanta], [Usuario], [Contrasenia], [Descuento], [PrimeraContrasenia], [FechaCambioContrasenia], [Guid], [FechaGuid]) VALUES (1, 1, 1, N'mreal@mx.neovia-group.com', N'123456', 3, 0, CAST(N'2017-10-22 22:35:05.867' AS DateTime), N'3458ab8f-e5c4-4e10-bd12-285bd870b316', CAST(N'2017-10-22 22:46:26.653' AS DateTime))
INSERT [dbo].[usuario] ([Id], [IdDIstribuidor], [IdPlanta], [Usuario], [Contrasenia], [Descuento], [PrimeraContrasenia], [FechaCambioContrasenia], [Guid], [FechaGuid]) VALUES (2, 2, 1, N'diego.ao.carreto@gmail.com', N'123456', 3, 0, CAST(N'2017-11-02 21:05:57.220' AS DateTime), N'', NULL)
INSERT [dbo].[usuario] ([Id], [IdDIstribuidor], [IdPlanta], [Usuario], [Contrasenia], [Descuento], [PrimeraContrasenia], [FechaCambioContrasenia], [Guid], [FechaGuid]) VALUES (3, 3, 1, N'la@aloalo.mx', N'123456', 3, 0, NULL, NULL, NULL)
INSERT [dbo].[visitas] ([ip], [pais], [estado], [latitude], [longitude], [date]) VALUES (N'187.190.39.60', N'Mexico', N'The Federal District', N'19.3532', N'-99.1965', CAST(N'2017-11-05 21:18:47.770' AS DateTime))
INSERT [dbo].[visitas] ([ip], [pais], [estado], [latitude], [longitude], [date]) VALUES (N'201.130.60.235', N'Mexico', N'México', N'19.4172', N'-99.0197', CAST(N'2017-11-05 23:49:01.613' AS DateTime))
INSERT [dbo].[visitas] ([ip], [pais], [estado], [latitude], [longitude], [date]) VALUES (N'187.190.39.60', N'Mexico', N'The Federal District', N'19.3532', N'-99.1965', CAST(N'2017-11-07 23:08:56.333' AS DateTime))
ALTER TABLE [dbo].[correo]  WITH CHECK ADD  CONSTRAINT [FK_correo_planta] FOREIGN KEY([IdPlanta])
REFERENCES [dbo].[planta] ([Id])
GO
ALTER TABLE [dbo].[correo] CHECK CONSTRAINT [FK_correo_planta]
GO
ALTER TABLE [dbo].[correo]  WITH CHECK ADD  CONSTRAINT [FK_correo_puesto] FOREIGN KEY([IdPuesto])
REFERENCES [dbo].[puesto] ([Id])
GO
ALTER TABLE [dbo].[correo] CHECK CONSTRAINT [FK_correo_puesto]
GO
ALTER TABLE [dbo].[cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_cotizacion_camion] FOREIGN KEY([IdCamion])
REFERENCES [dbo].[camion] ([id])
GO
ALTER TABLE [dbo].[cotizacion] CHECK CONSTRAINT [FK_cotizacion_camion]
GO
ALTER TABLE [dbo].[cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_cotizacion_distribuidores] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[distribuidores] ([Id])
GO
ALTER TABLE [dbo].[cotizacion] CHECK CONSTRAINT [FK_cotizacion_distribuidores]
GO
ALTER TABLE [dbo].[cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_cotizacion_usuario1] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[usuario] ([Id])
GO
ALTER TABLE [dbo].[cotizacion] CHECK CONSTRAINT [FK_cotizacion_usuario1]
GO
ALTER TABLE [dbo].[cotizacionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_cotizacionDetalle_cotizacion] FOREIGN KEY([IdCotizacion])
REFERENCES [dbo].[cotizacion] ([Id])
GO
ALTER TABLE [dbo].[cotizacionDetalle] CHECK CONSTRAINT [FK_cotizacionDetalle_cotizacion]
GO
ALTER TABLE [dbo].[cotizacionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_cotizacionDetalle_medidas] FOREIGN KEY([IdMedida])
REFERENCES [dbo].[medidas] ([Id])
GO
ALTER TABLE [dbo].[cotizacionDetalle] CHECK CONSTRAINT [FK_cotizacionDetalle_medidas]
GO
ALTER TABLE [dbo].[cotizacionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_cotizacionDetalle_productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[productos] ([Id])
GO
ALTER TABLE [dbo].[cotizacionDetalle] CHECK CONSTRAINT [FK_cotizacionDetalle_productos]
GO
ALTER TABLE [dbo].[plantilla]  WITH CHECK ADD  CONSTRAINT [FK_plantilla_planta] FOREIGN KEY([IdPlanta])
REFERENCES [dbo].[planta] ([Id])
GO
ALTER TABLE [dbo].[plantilla] CHECK CONSTRAINT [FK_plantilla_planta]
GO
ALTER TABLE [dbo].[precios]  WITH CHECK ADD  CONSTRAINT [FK_precios_medidas] FOREIGN KEY([IdMedida])
REFERENCES [dbo].[medidas] ([Id])
GO
ALTER TABLE [dbo].[precios] CHECK CONSTRAINT [FK_precios_medidas]
GO
ALTER TABLE [dbo].[precios]  WITH CHECK ADD  CONSTRAINT [FK_precios_planta] FOREIGN KEY([IdPlanta])
REFERENCES [dbo].[planta] ([Id])
GO
ALTER TABLE [dbo].[precios] CHECK CONSTRAINT [FK_precios_planta]
GO
ALTER TABLE [dbo].[precios]  WITH CHECK ADD  CONSTRAINT [FK_precios_productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[productos] ([Id])
GO
ALTER TABLE [dbo].[precios] CHECK CONSTRAINT [FK_precios_productos]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_planta1] FOREIGN KEY([IdPlanta])
REFERENCES [dbo].[planta] ([Id])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_planta1]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarContrasenia]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarContrasenia]
	@Id INT,
	@contrasenia VARCHAR(20)
AS
	UPDATE 
		usuario 
	SET
		Contrasenia = @contrasenia, 
		PrimeraContrasenia = 0,
		FechaCambioContrasenia = GETDATE()
	WHERE
		Id = @Id

GO
/****** Object:  StoredProcedure [dbo].[ActualizarContraseniaMail]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarContraseniaMail]
	@email VARCHAR(50),
	@contrasenia VARCHAR(20),
	@guid VARCHAR(50)
AS
	UPDATE 
		usuario 
	SET
		Contrasenia = @contrasenia, 
		[guid] = '',
		FechaGuid = NULL,
		FechaCambioContrasenia = GETDATE()
	WHERE
		Usuario = @email 
		AND [guid] = @guid 
		AND DATEDIFF(hh, [FechaGuid], GETDATE()) < 1

GO
/****** Object:  StoredProcedure [dbo].[ActualizarDatosCotizacion]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarDatosCotizacion]
	@id INT,
	@nombre VARCHAR(200),
	@email VARCHAR(100),
	@telefono VARCHAR(50),
	@celular VARCHAR(50),
	@observaciones VARCHAR(1000) = NULL
AS
	UPDATE
		cotizacion 
	SET
		Nombre = @nombre,
		Email = @email,
		Telefono = @telefono,
		Celular = @celular,
		Observaciones = @observaciones,
		Enviado = 1
	WHERE
		id = @id
GO
/****** Object:  StoredProcedure [dbo].[CorreosPlanta]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CorreosPlanta] 
	@IdPlanta INT
AS
	SELECT 
		p.Nombre Puesto,
		c.NombreCompleto Nombre,
		c.Correo,
		CASE c.Tipo   
			WHEN 1 THEN 'CC'  
			ELSE 'BCC'  
		END Tipo
	FROM 
		correo c 
		INNER JOIN puesto p ON p.id = c.IdPuesto
	WHERE
		IdPlanta = @IdPlanta
GO
/****** Object:  StoredProcedure [dbo].[DatosCotizacion]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DatosCotizacion] 
	@idCotizacion INT
AS
	SELECT
		d.Nombre_com Nombre,  
		d.Telefono,
		d.Celular,
		d.Mail,
		CASE c.DiaSemana  
			 WHEN 1 THEN 'Luness'  
			 WHEN 2 THEN 'Martes'  
			 WHEN 3 THEN 'Miercoles'  
			 WHEN 4 THEN 'Jueves'  
			 WHEN 5 THEN 'Viernes'  
			 WHEN 6 THEN 'Sabado'  
			 ELSE 'Domingo'  
		 END dia,
		 p.Nombre Planta,
		 u.IdPlanta IdPlanta,
		 p.Direccion PlantaDireccion,
		 p.Telefono PlantaTelefono,
		 p.Celular PlantaCelular
	FROM 
		cotizacion c 
		INNER JOIN usuario u ON u.Id = c.IdUsuario
		INNER JOIN distribuidores d ON d.Id = u.IdDistribuidor 
		INNER JOIN planta p ON p.Id = u.IdPlanta
	WHERE
		c.Id = @idCotizacion

GO
/****** Object:  StoredProcedure [dbo].[DatosUsuario]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DatosUsuario]
	@id INT
AS
	SELECT
		d.Nombre_com Nombre,
		u.Usuario Mail,
		d.Telefono,
		d.Celular,
		u.Descuento, 
		p.Nombre planta
	FROM 
		usuario u
		INNER JOIN distribuidores d ON d.Id = u.Id 
		INNER JOIN planta p ON p.Id = u.IdPlanta
	WHERE 
		u.Id = @id
GO
/****** Object:  StoredProcedure [dbo].[GuardarCotizacion]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarCotizacion]
	@IdUsuario INT,
	@IdCamion INT,
	@DiaSemana INT
AS

	INSERT INTO [dbo].[cotizacion]
			   ([IdUsuario]
			   ,[IdCamion]
			   ,[DiaSemana]
			   ,[Fecha]
			   ,[Enviado])
		 VALUES
			   (@IdUsuario
			   ,@IdCamion
			   ,@DiaSemana
			   ,GETDATE()
			   ,0)

			   SELECT SCOPE_IDENTITY()


	
	
GO
/****** Object:  StoredProcedure [dbo].[GuardarCotizacionDetalle]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarCotizacionDetalle]
	@idPlanta INT,
	@idCotizacion INT,
	@idProducto INT,
	@idMedida INT,
	@cantidad DECIMAL(18,0)
AS
	DECLARE @unitario MONEY,
			@precio   MONEY

	SELECT 
		@unitario = [precio]
	FROM 
		[precios] 
	WHERE
		[IdPlanta] = @idPlanta
		AND [IdProducto] = @idProducto 
		AND [IdMedida] = @idMedida

	SET @precio = @cantidad * @unitario

	INSERT INTO [dbo].[cotizacionDetalle]
			   ([IdCotizacion]
			   ,[IdProducto]
			   ,[IdMedida]
			   ,[Cantidad]
			   ,[Unitario]
			   ,[Precio])
		 VALUES
			   (@idCotizacion
			   ,@idProducto
			   ,@idMedida
			   ,@cantidad
			   ,@unitario
			   ,@precio)
GO
/****** Object:  StoredProcedure [dbo].[GuardarGuid]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarGuid]
	@usuario VARCHAR(50),
	@Guid VARCHAR(50)
AS
	UPDATE
		usuario 
	SET
		[Guid] = @Guid,
		FechaGuid = GETDATE(),
		Contrasenia = @Guid + '_' + CONVERT(VARCHAR(10), Id) 
		                    + '_' + CONVERT(VARCHAR(10), IdDIstribuidor) 
							+ '_' + usuario 
	WHERE
		usuario = @usuario
GO
/****** Object:  StoredProcedure [dbo].[GuardarVisitas]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarVisitas]
	@ip VARCHAR(15),
    @pais VARCHAR(50),
    @estado VARCHAR(50),
    @latitude VARCHAR(50),
    @longitude VARCHAR(50)
AS

	DECLARE @total INT = (SELECT
								COUNT(*) 
							FROM
								[visitas]
							WHERE
								ip = @ip
								AND DATEDIFF(hh, [date], GETDATE()) < 6)
	IF @total = 0 
	BEGIN

		INSERT INTO [dbo].[visitas]
			   ([ip]
			   ,[pais]
			   ,[estado]
			   ,[latitude]
			   ,[longitude]
			   ,[date])
		 VALUES
			   (@ip
			   ,@pais
			   ,@estado
			   ,@latitude
			   ,@longitude
			   ,GETDATE())

		SELECT 1
	END
	ELSE 
	BEGIN
		SELECT 2
	END
	

GO
/****** Object:  StoredProcedure [dbo].[ListaProductos]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListaProductos] 
	@idUsuario INT
AS

	DECLARE @idPlanta INT
	
	SELECT 
		@idPlanta = IdPlanta 
	FROM 
		usuario 
	WHERE 
		Id = @idUsuario	

	SELECT 
		p.id,
		p.IdPlanta,
		pro.Id IdProducto,
		pro.Imagen,
		pro.Nombre, 
		m.Id IdMedida,
		m.Nombre Medida,
		p.Precio,
		p.Minimo,
		m.Kilos,
		p.TienePromocion
	FROM 
		precios p 
		INNER JOIN productos pro ON pro.Id = p.IdProducto 
		INNER JOIN planta pl ON pl.Id = p.IdPlanta 
		INNER JOIN medidas m ON m.Id = p.IdMedida 
	WHERE
		pl.Id = @idPlanta 
		AND p.Activo = 1  
		AND IdPadre IS NULL
	ORDER BY 
		pro.Nombre ASC,
		m.Nombre ASC,
		m.Kilos ASC



	
GO
/****** Object:  StoredProcedure [dbo].[ListaProductosCotizacion]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListaProductosCotizacion] 
	@idCotizacion INT
AS

	SELECT 
		p.Id IdProducto,
		p.Nombre, 
		m.Kilos,
		(SELECt Minimo FROM precios pre WHERE pre.IdProducto = p.id AND 
											  pre.IdMedida = cd.IdMedida AND 
											  pre.IdPlanta = pl.Id) Minimo,
		cd.Unitario Precio,
		cd.Cantidad,
		(m.Kilos * cd.Cantidad) kgTotal,
		(cd.Unitario * cd.Cantidad) Total
	FROM 
		productos p 		
		INNER JOIN cotizacionDetalle cd ON cd.IdProducto = p.Id
		INNER JOIN medidas m ON m.Id = cd.IdMedida 
		INNER JOIN cotizacion c ON c.Id = cd.IdCotizacion 
		INNER JOIN usuario u ON u.Id = c.IdUsuario 
		INNER JOIN planta pl ON pl.Id = u.IdPlanta
	WHERE 
		cd.IdCotizacion = @idCotizacion
	ORDER BY 
		p.Nombre ASC,
		m.Nombre ASC,
		m.Kilos ASC
GO
/****** Object:  StoredProcedure [dbo].[ListaProductosPromocion]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListaProductosPromocion] 
	@idPadre INT
AS

	SELECT 
		p.Id,
		p.IdPlanta,
		pro.Id IdProducto,
		ISNULL(IdPadre,0) IdPadre,
		pro.Imagen,
		pro.Nombre, 
		m.Id IdMedida,
		m.Nombre Medida,
		p.Precio,
		p.Minimo,
		m.Kilos,
		ISNULL(p.ValorPromocion,0) ValorPromocion,
		ISNULL(p.RecompensaPromocion,0) RecompensaPromocion 
	FROM 
		precios p 
		INNER JOIN productos pro ON pro.Id = p.IdProducto 
		INNER JOIN planta pl ON pl.Id = p.IdPlanta 
		INNER JOIN medidas m ON m.Id = p.IdMedida 
	WHERE
		p.Activo = 1  
		AND IdPadre = @idPadre
	ORDER BY 
		pro.Nombre ASC,
		m.Nombre ASC,
		m.Kilos ASC



	
GO
/****** Object:  StoredProcedure [dbo].[login]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[login] 
	@usuario VARCHAR(50),
	@contrasenia VARCHAR(20)
AS

	SELECT 
		* 
	FROM 
		[dbo].[usuario] 
	WHERE 
		usuario = @usuario 
		AND contrasenia = @contrasenia
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCamiones]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCamiones]
AS
	SELECT 
		id,
		nombre,
		maximo 
	FROM
		camion  
	WHERE 
		activo = 1
	ORDER BY 
		nombre ASC
GO
/****** Object:  StoredProcedure [dbo].[slider]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[slider]
	@Page INT = 1
AS
		DECLARE @Rows INT = 1
		DECLARE 
				@one INT = 1,
				@start INT = @Rows * (@Page - 1),
				@pages INT = 0,
				@total INT = (SELECT 
								COUNT(*) 
							 FROM 
								[dbo].[blog] 
							 WHERE
								Especies = '|noticia_home|')

		SET @pages = (@total + @Rows - @One) / @Rows

		IF (@Page > @pages)
			SET @start = 0

		SELECT 
			[id],
			[Titulo],
			[Descripcion],
			[Etiquetas],
			[Tipo],
			[Imagen],
			[Autor],
			[Especies],
			@pages [pages]
		FROM 
			(SELECT 
				ROW_NUMBER() OVER (ORDER BY [Orden] DESC) [rows], 
				*
			 FROM 
				[dbo].[blog] 
			 WHERE
				[Especies] = '|noticia_home|') AS pager
		WHERE
			[rows] > @start
			AND [rows] <= @start + @Rows 
GO
/****** Object:  StoredProcedure [dbo].[UltimaCotizacion]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UltimaCotizacion]
	@idUsuario INT
AS
	SELECT 
		TOP 1
		[id] 
	FROM 
		[cotizacion] 
	WHERE
		[IdUsuario] = @idUsuario 
	ORDER BY 
		[id] DESC
GO
/****** Object:  StoredProcedure [dbo].[ValidarMail]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarMail]
	@email VARCHAR(50)
AS
	SELECT 
		usuario 
	FROM 
		usuario
	WHERE
		usuario = @email
GO
/****** Object:  StoredProcedure [dbo].[ValidarPrimeraContrasenia]    Script Date: 16/09/2018 11:59:01 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarPrimeraContrasenia] 
	@email VARCHAR(50)
AS
	SELECT 
		PrimeraContrasenia 
	FROM 
		usuario
	WHERE
		usuario = @email
GO
