<div id="main-nav">
    <div class="logo">
        <a href="/"><img src="~/Content/img/logo-maltacleyton.svg" alt="maltaCleyton"></a>
    </div>
    <div id="top-nav">
        <div class="top-link">
            <div class="link-icon">
                <a href="#"><i class="fa fa-facebook-official"></i></a>
            </div>
            <div class="link-icon">
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
            </div>
        </div>
        <div class="top-link">
            <div class="link-icon">
                <i class="fa fa-sliders"></i>
            </div>
            <div class="link-text">
                <em>filtrar</em> <a href="#">Distribuidor</a> <a href="#">MVZ</a> <a href="#">Productor</a>
            </div>
        </div>
        <div class="top-link">
            <div class="link-icon">
                <i class="fa fa-phone"></i>
            </div>
            <div class="link-text">
                <div class="logo-smart-center">
                    <img src="~/Content/img/logo-smart-center.svg" alt="Smart Center">
                </div>
                <strong> 01800 507 4600</strong>
            </div>
        </div>
    </div>
    <div id="main-menu">
        <!-- <ul id="links-main-menu">
            <li><a href="#">Encuentra a tu distribuidor <span class="hide-for-small-only">más cercano</span></a></li>
            <li><a href="#" class="hide-for-small-only">¿Deseas convertirte en distribuidor?</a></li>
            <li><a href="#"><span class="hide-for-small-only">Únete a </span>nuestro newsletter</a></li>
        </ul> -->
        <a class="button" data-open="buscador"><i class="fa fa-search"></i></a>
        <a class="button" id="trigger-overlay"><i class="fa fa-bars"></i></a>
    </div>
</div>

<div class="overlay overlay-menu">
    <button type="button" class="overlay-close"><i class="fa fa-times-circle-o"></i></button>
    <nav>
        <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Programas</a></li>
            <li><a href="#">Dónde Comprar</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</div>
