<div id="nav-contacto">
    <span data-tooltip aria-haspopup="true" class="has-tip left" data-disable-hover="false" tabindex="2" title="Chat">
        <span class="contacto-link">
            <a href="#" onclick="navToggle()"><i class="fa fa-comments"></i></a>
        </span>
    </span>
    <span data-tooltip aria-haspopup="true" class="has-tip left" data-disable-hover="false" data-click-open="true" tabindex="2" title="01800 507 4600">
        <span class="contacto-link">
            <a href="#"><i class="fa fa-phone"></i></a>
        </span>
    </span>
    <span data-tooltip aria-haspopup="true" class="has-tip left" data-disable-hover="false" tabindex="2" title="Vuélvete distribuidor">
        <span class="contacto-link">
            <a href="#"><i class="fa fa-file-text-o"></i></a>
        </span>
    </span>
    <span data-tooltip aria-haspopup="true" class="has-tip left" data-disable-hover="false" tabindex="2" title="Distribuidores">
        <span class="contacto-link">
            <a href="#"><i class="fa fa-map-marker"></i></a>
        </span>
    </span>
    <span data-tooltip aria-haspopup="true" class="has-tip left" data-disable-hover="false" tabindex="2" title="Contáctanos">
        <span class="contacto-link">
            <a href="#"><i class="fa fa-user"></i></a>
        </span>
    </span>

</div>

<div id="chat">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavContacto()">&times;</a>
    <h3>Hola</h3>
</div>
