USE [malta]
GO
/****** Object:  Table [dbo].[salud]    Script Date: 04/05/2017 14:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[salud](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](300) NULL,
	[Descripcion] [varchar](max) NULL,
	[Imagen] [varchar](300) NULL,
	[Tipo] [varchar](300) NULL,
	[Indicaciones] [varchar](max) NULL,
	[Contraindicaciones] [varchar](max) NULL,
	[Administracion] [varchar](max) NULL,
	[Interaccion] [varchar](max) NULL,
	[Reacciones] [varchar](max) NULL,
	[Uso] [varchar](max) NULL,
	[Brochure] [varchar](300) NULL,
	[Vademecum] [varchar](300) NULL,
	[Video] [varchar](300) NULL,
	[Params_dist] [varchar](300) NULL,
 CONSTRAINT [PK_salud] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[salud] ON
SET IDENTITY_INSERT [dbo].[salud] OFF
/****** Object:  Table [dbo].[productos]    Script Date: 04/05/2017 14:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_linea] [int] NULL,
	[Nombre] [varchar](300) NULL,
	[Descripcion] [varchar](max) NULL,
	[Imagen] [varchar](300) NULL,
	[Brochure] [varchar](300) NULL,
	[Vademecum] [varchar](300) NULL,
	[Video] [varchar](300) NULL,
	[Params_dist] [varchar](300) NULL,
	[Proteina] [nchar](10) NULL,
	[Grasa] [nchar](10) NULL,
	[Humedad] [nchar](10) NULL,
	[Fibra] [nchar](10) NULL,
	[Ceniza] [nchar](10) NULL,
	[Eln] [nchar](10) NULL,
	[Orden] [int] NULL,
	[Keyword] [varchar](500) NULL,
	[Target] [varchar](100) NULL,
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON
INSERT [dbo].[productos] ([Id], [Id_linea], [Nombre], [Descripcion], [Imagen], [Brochure], [Vademecum], [Video], [Params_dist], [Proteina], [Grasa], [Humedad], [Fibra], [Ceniza], [Eln], [Orden], [Keyword], [Target]) VALUES (1, 3, N'Becerro Engorda 16%', N'Alimento para becerros engorda', N'Content/img/rumiantes/apiaba-rumiantes-premium-40.png', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'', N'', N'16        ', N'2         ', N'12        ', N'14        ', N'18        ', N'38        ', 3, NULL, NULL)
INSERT [dbo].[productos] ([Id], [Id_linea], [Nombre], [Descripcion], [Imagen], [Brochure], [Vademecum], [Video], [Params_dist], [Proteina], [Grasa], [Humedad], [Fibra], [Ceniza], [Eln], [Orden], [Keyword], [Target]) VALUES (2, 3, N'Apiengorda Ganado', N'Alimento para ganado', N'Content/img/rumiantes/apiaba-rumiantes-premium-40.png', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'', N'', N'13        ', N'2         ', N'12        ', N'12        ', N'10        ', N'51        ', 4, NULL, NULL)
INSERT [dbo].[productos] ([Id], [Id_linea], [Nombre], [Descripcion], [Imagen], [Brochure], [Vademecum], [Video], [Params_dist], [Proteina], [Grasa], [Humedad], [Fibra], [Ceniza], [Eln], [Orden], [Keyword], [Target]) VALUES (3, 3, N'Apiengorda Ganado con Zilpaterol', N'Alimento para ganado con Zilpaterol', N'Content/img/rumiantes/apiaba-rumiantes-premium-40.png', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf', N'', N'', N'14        ', N'2.5       ', N'12        ', N'10        ', N'8.5       ', N'53        ', 5, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[productos] OFF
/****** Object:  Table [dbo].[marcas]    Script Date: 04/05/2017 14:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_especie] [int] NULL,
	[Nombre] [varchar](200) NULL,
	[Descripcion] [varchar](1000) NULL,
	[Imagen] [varchar](300) NULL,
	[Background] [varchar](300) NULL,
	[Target] [varchar](100) NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_marcas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[marcas] ON
INSERT [dbo].[marcas] ([Id], [Id_especie], [Nombre], [Descripcion], [Imagen], [Background], [Target], [Orden]) VALUES (1, 17, N'Ganador®', N'Nuestros expertos de Ganador® han desarrollado un portafolio completo que mejoran la salud y calidad de vida de las nuestros mejores amigos. Las productos Ganador® son sinónimo de calidad.', N'Content/img/perro/ganador-lineas.png', N'Content/img/bg-perros.jpg', N'MVZ|PROD|DIST', 1)
INSERT [dbo].[marcas] ([Id], [Id_especie], [Nombre], [Descripcion], [Imagen], [Background], [Target], [Orden]) VALUES (2, 18, N'Minino', N'Nutrición completa y balanceada con la combinación de ingredientes requerida en todas las etapas de vida del minino.', N'Content/img/gato/minino-morado.png', N'Content/img/bg-gatos.jpg', N'MVZ|PROD|DIST', 1)
INSERT [dbo].[marcas] ([Id], [Id_especie], [Nombre], [Descripcion], [Imagen], [Background], [Target], [Orden]) VALUES (3, 1, N'Api-Aba Premium', N'Diseñada para cubrir los requerimientos nutricionales de las especies productivas en ciclos de producción prolongados de baja escala con productos de calidad.', N'Content/img/rumiantes/apiaba-rumiantes-premium-40.png', N'Content/img/bg-ganado-carne.jpg', N'MVZ|PROD|DIST', 1)
SET IDENTITY_INSERT [dbo].[marcas] OFF
/****** Object:  Table [dbo].[lineas]    Script Date: 04/05/2017 14:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[lineas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_marca] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](max) NULL,
	[Target] [varchar](100) NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_lineas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[lineas] ON
INSERT [dbo].[lineas] ([Id], [Id_marca], [Nombre], [Descripcion], [Target], [Orden]) VALUES (1, 1, N'Ganador®', N'Alimento para perros óptimamente balanceado con ingredientes de calidad que te ofrece la mejor alternativa en nutrición y sabor.', N'MVZ|PROD|DIST', 1)
INSERT [dbo].[lineas] ([Id], [Id_marca], [Nombre], [Descripcion], [Target], [Orden]) VALUES (2, 2, N'Minino', N'Nutrición completa y balanceada con la combinación de ingredientes requerida en todas las etapas de vida del minino.', N'MVZ|PROD|DIST', 2)
INSERT [dbo].[lineas] ([Id], [Id_marca], [Nombre], [Descripcion], [Target], [Orden]) VALUES (3, 3, N'Apicarne', N'Diseñada para cubrir los requerimientos nutricionales de las especies productivas en ciclos de producción prolongados de baja escala con productos de calidad.', N'MVZ|PROD|DIST', 1)
SET IDENTITY_INSERT [dbo].[lineas] OFF
/****** Object:  Table [dbo].[especies]    Script Date: 04/05/2017 14:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[especies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](500) NULL,
	[Tipo] [varchar](300) NULL,
	[Imagen] [varchar](300) NULL,
	[Background] [varchar](300) NULL,
	[Icono] [varchar](300) NULL,
	[Orden] [int] NOT NULL,
	[OrdenTipo] [int] NOT NULL,
	[Plan] [varchar](300) NULL,
 CONSTRAINT [PK_especies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[especies] ON
INSERT [dbo].[especies] ([Id], [Nombre], [Descripcion], [Tipo], [Imagen], [Background], [Icono], [Orden], [OrdenTipo], [Plan]) VALUES (1, N'Ganado de Carne
', N'Garantizar el  óptimo desempeño en el sector pecuario  va más allá del alimento adecuado, por lo que desarrollamos Programas Nutricionales Diferenciados®.', N'pecuarios', N'Content/img/header-ganado-carne.png', N'Content/img/bg-ganado-carne.jpg', N'Content/img/e-ganado-carne.svg', 1, 2, N'Content/brochure/MANUAL_GCARNE_12_06_14.pdf')
INSERT [dbo].[especies] ([Id], [Nombre], [Descripcion], [Tipo], [Imagen], [Background], [Icono], [Orden], [OrdenTipo], [Plan]) VALUES (2, N'Ganado Lechero', N'Garantizar el  óptimo desempeño en el sector pecuario  va más allá del alimento adecuado, por lo que desarrollamos Programas Nutricionales Diferenciados®.', N'pecuarios', N'Content/img/header-ganado-lechero.png', N'Content/img/bg-ganado-lechero.jpg', N'Content/img/e-ganado-lechero.svg', 2, 2, N'Content/brochure/MANUAL_GLECHE_180614.pdf')
INSERT [dbo].[especies] ([Id], [Nombre], [Descripcion], [Tipo], [Imagen], [Background], [Icono], [Orden], [OrdenTipo], [Plan]) VALUES (3, N'Borregos', N'Garantizar el  óptimo desempeño en el sector pecuario  va más allá del alimento adecuado, por lo que desarrollamos Programas Nutricionales Diferenciados®.', N'pecuarios', N'Content/img/header-borregos.png', N'Content/img/bg-borregos.jpg', N'Content/img/e-borregos.svg', 3, 2, N'')
SET IDENTITY_INSERT [dbo].[especies] OFF
/****** Object:  Table [dbo].[detalles_salud]    Script Date: 04/05/2017 14:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[detalles_salud](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_salud] [int] NULL,
	[Tipo] [varchar](100) NULL,
	[Descripcion] [varchar](max) NULL,
	[Imagen] [varchar](300) NULL,
 CONSTRAINT [PK_detalles_salud] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[detalles_salud] ON
INSERT [dbo].[detalles_salud] ([Id], [Id_salud], [Tipo], [Descripcion], [Imagen]) VALUES (1, 1, N'especie', N'aves', N'Content/img/e-aves-postura.svg')
INSERT [dbo].[detalles_salud] ([Id], [Id_salud], [Tipo], [Descripcion], [Imagen]) VALUES (2, 1, N'especie', N'porcinos', N'Content/img/e-cerdos.svg')
INSERT [dbo].[detalles_salud] ([Id], [Id_salud], [Tipo], [Descripcion], [Imagen]) VALUES (3, 1, N'especie', N'conejos', N'Content/img/e-conejos.svg')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[detalles_salud] OFF
/****** Object:  Table [dbo].[detalles_producto]    Script Date: 04/05/2017 14:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[detalles_producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_producto] [int] NULL,
	[Tipo] [varchar](100) NULL,
	[Descripcion] [varchar](max) NULL,
	[Imagen] [varchar](300) NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_detalles_producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[detalles_producto] ON
INSERT [dbo].[detalles_producto] ([Id], [Id_producto], [Tipo], [Descripcion], [Imagen], [Orden]) VALUES (1, 1, N'beneficio', N'Diseñado para Complementar perfectamente la demanda de proteina necesaria para el buen crecimiento del bovino. ', N'', NULL)
INSERT [dbo].[detalles_producto] ([Id], [Id_producto], [Tipo], [Descripcion], [Imagen], [Orden]) VALUES (2, 1, N'beneficio', N'Contiene fibra de alta calidad para mejorar la digestibilidad de la dieta.', N'', NULL)
INSERT [dbo].[detalles_producto] ([Id], [Id_producto], [Tipo], [Descripcion], [Imagen], [Orden]) VALUES (3, 1, N'presentacion', N'40 kg', N'', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
SET IDENTITY_INSERT [dbo].[detalles_producto] OFF
/****** Object:  Table [dbo].[blog]    Script Date: 04/05/2017 14:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[blog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Titulo] [varchar](max) NULL,
	[Subtitulo] [varchar](max) NULL,
	[Fuente] [varchar](max) NULL,
	[Descripcion] [text] NULL,
	[Etiquetas] [varchar](max) NULL,
	[Url] [varchar](max) NULL,
	[Tipo] [varchar](100) NULL,
	[Imagen] [varchar](500) NULL,
	[Autor] [varchar](max) NULL,
	[Especies] [varchar](max) NULL,
 CONSTRAINT [PK_blog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[blog] ON
SET IDENTITY_INSERT [dbo].[blog] OFF
/****** Object:  Default [DF__lineas__Target__108B795B]    Script Date: 04/05/2017 14:41:48 ******/
ALTER TABLE [dbo].[lineas] ADD  DEFAULT ('MVZ|PROD|DIST') FOR [Target]
GO
/****** Object:  Default [DF__marcas__Target__1367E606]    Script Date: 04/05/2017 14:41:48 ******/
ALTER TABLE [dbo].[marcas] ADD  DEFAULT ('MVZ|PROD|DIST') FOR [Target]
GO
/****** Object:  Default [DF__productos__Targe__276EDEB3]    Script Date: 04/05/2017 14:41:48 ******/
ALTER TABLE [dbo].[productos] ADD  DEFAULT ('MVZ|PROD|DIST') FOR [Target]
GO
