
.inputT {
    height: 22px !important;
    width: 65px !important;
    color: #000 !important;
    padding: 0 !important;
    border: 1px solid #2b686e !important;
    background-color: #fff !important;
    text-align: center !important;
}

.header {
    background-color: #327a81;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    height: 22px !important;
}

.body {
    background-color: #fff;
    height: 420px;
    overflow-y: auto;
}


img {
    height: 35px;
    width: 30px;
}

#tData tr td input, textarea {
    margin: 0 0 0 15px !important;
    padding: 0 !important;
}

.table-users {
    border: 1px solid #327a81;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 1024px;
    height: 500px;
    background-color: #327a81 !important;
}

table {
    width: 100%;
}

    table td, table th {
        color: #2b686e;
        padding: 0;
        border: 0;
    }

    table th {
        padding: 10px;
    }

    table td {
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
    }

    table th {
        background-color: #daeff1;
        font-weight: bold;
        font-size: 14px;
    }

    table tr:nth-child(2n) {
        background-color: white;
    }

    table tr:nth-child(2n+1) {
        background-color: #edf7f8;
    }

.tdCenter {
    text-align: center !important;
}

.btnNext {
    width: 200px !important;
    display: inline !important;
}

#priceTotalContainer {
    margin: 15px 240px 0 0;
    float: right;
}


