@{
    ViewBag.Title = "Productos";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="header-cerdo" class="title">
    <div class="row">
        <div class="large-8 medium-8 columns">
            <div class="frase">
                <p class="lead">Materias primas de alta calidad, seleccionadas para un alto desempeño en cada etapa.</p>
                <p>para cada necesidad… un producto</p>
            </div>
        </div>
        <div class="large-4 medium-4 columns">
            <img src="~/Content/img/header-cerdo.png" alt="">
        </div>
    </div>
</section>

<div id="nav-especie">
    <ul>
        <li><a href="/Productos/Ficha" class="active">Productos</a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Artículos de interés</a></li>
        <li><a href="#">Calculadora Nutricional</a></li>
        <li><a href="#">Planes de alimentación</a></li>
    </ul>
</div>


<section class="linea-productos">
    <div class="premium-cerdo">
        <div class="row">
            <div class="large-3 medium-3 columns">
                <img src="~/Content/img/l-cerdo-premium.png" alt="">
            </div>
            <div class="large-9 medium-9 columns">
                <div class="descripcion-linea">
                    <h3>Super Premium</h3>
                    <p>Desarrollada específicamente con el objetivo de mejorar la rentabilidad de tu negocio, garantiza el óptimo desempeño de la producción con programas de alimentación que promueven el máximo aprovechamiento del potencial genético de cada especie.</p>
                </div>
                
            </div>
        </div>
    </div>
</section>


<section id="loop-productos">
    <div class="row smal-up-2 medium-up-3 large-up-3 text-center">
        <div class="column">
            <div class="foto-producto"><a href="/Productos/ficha"><img src="~/Content/img/cerdo/youpig.png" alt=""></a></div>
            <h3><a href="/Productos/ficha">Youpig! Baby</a></h3>
            <p><a href="/Productos/ficha" class="button small">Conoce más</a></p>
        </div>
        <div class="column">
            <div class="foto-producto"><a href="/Productos/ficha"><img src="~/Content/img/cerdo/youpig.png" alt=""></a></div>
            <h3><a href="/Productos/ficha">Youpig! 1</a></h3>
            <p><a href="/Productos/ficha" class="button small">Conoce más</a></p>
        </div>
        <div class="column">
            <div class="foto-producto"><a href="/Productos/ficha"><img src="~/Content/img/cerdo/youpig.png" alt=""></a></div>
            <h3><a href="/Productos/ficha">Youpig! 2</a></h3>
            <p><a href="/Productos/ficha" class="button small">Conoce más</a></p>
        </div>
        <div class="column">
            <div class="foto-producto"><a href="/Productos/ficha"><img src="~/Content/img/cerdo/youpig.png" alt=""></a></div>
            <h3><a href="/Productos/ficha">Youpig! 3</a></h3>
            <p><a href="/Productos/ficha" class="button small">Conoce más</a></p>
        </div>
        <div class="column">
            <div class="foto-producto"><a href="/Productos/ficha"><img src="~/Content/img/cerdo/youpig.png" alt=""></a></div>
            <h3><a href="/Productos/ficha">Youpig! Inicio</a></h3>
            <p><a href="/Productos/ficha" class="button small">Conoce más</a></p>
        </div>
        <div class="column">
            <div class="foto-producto"><a href="/Productos/ficha"><img src="~/Content/img/cerdo/youpig.png" alt=""></a></div>
            <h3><a href="/Productos/ficha">Youpig! Crecimiento</a></h3>
            <p><a href="/Productos/ficha" class="button small">Conoce más</a></p>
        </div>
        <div class="column">
            <div class="foto-producto"><a href="/Productos/ficha"><img src="~/Content/img/cerdo/youpig.png" alt=""></a></div>
            <h3><a href="/Productos/ficha">Youpig! Desarrollo</a></h3>
            <p><a href="/Productos/ficha" class="button small">Conoce más</a></p>
        </div>
        <div class="column">
            <div class="foto-producto"><a href="/Productos/ficha"><img src="~/Content/img/cerdo/youpig.png" alt=""></a></div>
            <h3><a href="/Productos/ficha">Youpig! Poder</a></h3>
            <p><a href="/Productos/ficha" class="button small">Conoce más</a></p>
        </div>
        <div class="column">
            <div class="foto-producto"><a href="/Productos/ficha"><img src="~/Content/img/cerdo/youpig.png" alt=""></a></div>
            <h3><a href="/Productos/ficha">Youpig! Gestación</a></h3>
            <p><a href="/Productos/ficha" class="button small">Conoce más</a></p>
        </div>
        <div class="column">
            <div class="foto-producto"><a href="/Productos/ficha"><img src="~/Content/img/cerdo/youpig.png" alt=""></a></div>
            <h3><a href="/Productos/ficha">Youpig! Lactancia</a></h3>
            <p><a href="/Productos/ficha" class="button small">Conoce más</a></p>
        </div>
    </div>
</section>
